@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --gold-light: 45 100% 75%;
  --primary: 200 80% 50%;
  --gold-dark: 45 100% 30%;
}
.bg-gold-gradient {
  background: linear-gradient(
    135deg,
    hsl(var(--gold-light)) 0%,
    hsl(var(--gold-dark)) 100%
  );
}